version: "3.9"

services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./data:/data

    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8090/ || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 20s
